.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(to left, #6554AF, #F8FAE5);
    z-index: -1;
    margin: 55px auto;
}

.marquee-text {
    animation: marquee 15s linear infinite;
    font-size: 100px;
    font-weight: 600;
    margin: 78px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh; 
}

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}